{% extends 'base.html' %}
{% load material_form %}

{% block page_title %}
Registration Form
{% endblock %}

{% block content %}
<form class="col s12" action="" method="POST">
  {% csrf_token %}

  {% form %}
    {% part form.first_name prefix %}<i class="mdi-action-account-box prefix"></i>{% endpart %}
    {% part form.email prefix %}<i class="mdi-communication-email prefix"></i>{% endpart %}
    {% part form.phone_number prefix %}<i class="mdi-communication-call prefix"></i>{% endpart %}
    {% part form.address1 prefix %}<i class="mdi-action-home prefix"></i>{% endpart %}
    {% part form.city prefix %}<i class="mdi-social-location-city prefix"></i>{% endpart %}
    {% part form.is_metric %}
    <div class="row">
      <div class="col s12" id="id_is_metric_container">
        <div class="switch">
          <label for="id_is_metric">
            Off
            {{ form.is_metric }}
            <span class="lever"></span>
            On
          </label>
        </div>
        <small class="help-block">Check if your measurements are in metric units.</small>
      </div>
    </div>
    {% endpart %}
    {% part form.accept_terms prefix %}
    <div class="row">
      <div class="col s12 disclaimer">
        <p>The undersigned has read the <a class="modal-trigger" href="#waiver">waiver and release</a>, understand that s/he has given up substantial rights by checking "I agree" and do so voluntarily.</p>
      </div>
    </div>
    {% endpart %}
  {% endform %}

  <button type="submit" name="_next" class="btn red right">Next</button>
</form><!-- end form -->

<div id="waiver" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5>ADULT &amp; MINOR AMATEUR ATHLETIC WAIVER &amp; RELEASE OF LIABILITY</h5>
    <p>In consideration of being allowed to participate in any way in the 2016 IMA Championship in Utah and related events and activities, the undersigned:</p>
    <ol>
      <li>Agrees that prior to participating the athlete and/or Parent or Guardian (if under 18), will inspect the facilities and equipment to be used, and if the participant and/or parent or guardian, believes anything is unsafe, they will immediately advise the supervisor of the IMA Championship or other tournament officials of each condition and refuse to participate.</li>
      <li>Acknowledges and fully understands that each participant will be engaging in activities that involve risk of serious injury, including permanent disability and death, and severe social and economic losses which might result not only from their action, inaction or negligence, but the actions, inaction or negligence of others, the rules of play, or the condition of the premises or of any equipment used. Further, the participant, and/or parent or guardian acknowledges that there may be other risks not known or not reasonably foreseeable at this time. The participant and/or parent or guardian assumes all the forgoing risks and accepts personal responsibility for the damages following such injury, permanent disability or death.</li>
      <li>Releases, waives, discharges and covenants not to sue the International MartialArts Association, Mr Amadou Niang, the USA-NKF, its officers, its affiliated clubs, regional sports organizations, their respective administrators, directors, agents, coaches and other employees of the organization, other participants, sponsoring agencies, sponsors, advertisers, and if applicable, owners and lessees of premises used to conduct the event, all of which are hereinafter referred to as “releases” from any and all liability to each of the undersigned, his or her heirs and next of kin for any and all claims, demands, losses or damages on account of injury including death or damage to property, caused or alleged to be caused in whole or in part by the negligence of the release or otherwise.</li>
      <li>I fully understand that any medical treatment given will be of a first aid treatment type only. I consent that any pictures furnished by me or any pictures taken of me in connection with the tournament can be used for publicity, promotion or television showing now or in the future, and I waive compensation in regard thereto. All participation in any event in this tournament is by permission only. The Director or his authorized agent(s) reserve the right to refuse entry to any person, school, team or club.</li>
    </ol>
  </div><!-- end .modal-content -->
  <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat">Close</a>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function() {
    $('.modal-trigger').leanModal();
  });
</script>
{% endblock %}
